<form action="/books/<%= allBooks.id %>?_method=PUT " class="ubdateForm" method="post">
    <input type="text" name="img" value="<%=allBooks.img %>"><br>
    <input type="text" name="title" value=" <%= allBooks.title %>"><br>
    <input type="text" name="authors" value=" <%= allBooks.authors %>"><br>
<textarea name="description" id="" cols="30" rows="10"> <%= allBooks.description %></textarea>  <br>
  <input type="text" name="isbn" value=" <%= allBooks.isbn %>"><br>
    <input type="text" name="bookshelf" value="<%= allBooks.bookshelf %>"><br>
<button type="submit">Update Book</button>

</form>



