<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book-app</title>
    <link rel="stylesheet" href="../styles/base.css">
</head>
<body>
    <h1>welcome all</h1>
    <a href="/">Home</a>
    <a href="/searches/new">search the Google books API</a>
    <h3><%=allBooks.length %> Saved Books </h3>

    <section>
        <%allBooks.forEach(element=>{ %>
            <div>
                <img src=<%=element.img %> alt="book Image ">
                <h2>
                    <%= element.title %>
                </h2>
                <h3>
                    <%= element.authors %>
                </h3>
                <form action="/books/<%= element.id %> " method="get">
                <button type="submit">View Details</button>
                </form>
            </div>

            <% }) %>
         
    </section>
</body>
</html>